### Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [14]:
name = input("input:\n")
comp_list = name.split('@')
comp = comp_list[1].split('.')
comp=comp[0]
print("Output:\n"+comp)

input:
john@google.com
Output:
google

### Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [29]:
x=input("input:\n")
y = x.split(',')
y = sorted(y)
final=''
for i in y:
    final+=(","+i)

final = final[1:]
print("Output:\n"+final)

input:
without,hello,bag,world
Output:
bag,hello,without,world

### Question 3:
Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

In [126]:
set1 = {1,'one',0.342,(1,3,4)}
set1

{(1, 3, 4), 0.342, 1, 'one'}

In [127]:
#Add Items

set1.add("orange")
#Add multiple items to set

set1.update(["shashidhar","data","Scientist"])
set1

{(1, 3, 4), 0.342, 1, 'Scientist', 'data', 'one', 'orange', 'shashidhar'}

In [128]:
#To determine how many items a set has
print(len(set1))

8

In [129]:
#Remove Item
set1.remove('one')
set1.discard(0.342)
set1

{(1, 3, 4), 1, 'Scientist', 'data', 'orange', 'shashidhar'}

In [130]:
copy_set= set1
#Remove the last item by using the pop() method:
copy_set.pop()
copy_set

{(1, 3, 4), 'Scientist', 'data', 'orange', 'shashidhar'}

In [136]:
set2 = {1,'one',0.342,(1,3,4)}
set2.clear()
set2

set()

In [137]:
#The del keyword will delete the set completely:
del set2
# print(set2)  ===> Throws error as set2 variable is deleted

In [142]:
set2 = {1, 2, 3}
set3 = {'a','b','c','d',3}

In [143]:
#Union of two set
print(set2.union(set3))

{1, 2, 3, 'b', 'a', 'c', 'd'}

In [144]:
#Intersection of two set
print(set2.intersection(set3))

{3}

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:

The first line contains n-1 numbers with each number separated by a space.

Output Format:

Print the missing number

Example:

Input:

1 2 4 6 3 7 8

Output:5

Explanation:

In the above list of numbers 5 is missing and hence 5 is the input

In [83]:
x=input("Input:\n")
x= x.split(' ')
new_x=[]
for i in x:
    new_x.append(int(i))
maxn = len(new_x)+2
for i in range(1, maxn):
    if i not in new_x:
        res=i
print('Output:')
print(res)

input:
1 2 3 4 5 6
Output:
7

### Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:

If the input list is

12 24 35 24 88 120 155 88 120 155

Then the output should be

12 24 35 88 120 155

Explanation:

Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:

In one line take the elements of the list L with each element separated by a space.

Output Format:



Print the elements of the modified list in one line with each element separated by a space.

Example:

Input: 12 24 35 24

Output:

12 24 35

In [98]:
x = input("Input:\n").split(' ')
res=[]
for i in x:
    if i not in res:
        res.append(i)
final=" ".join(res)
print("Output:\n"+final)

Input:
12 24 35 24 88 120 155 88 120 155
Output:
12 24 35 88 120 155